name: Deploy Branch to VPS via Docker Hub

on:
  push:
    branches:
      - test
      - prod

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      #1️⃣ Забираем код
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Строим Docker образ
      - name: Build Docker image
        run: |
          if [ "${GITHUB_REF_NAME}" == "test" ]; then
            docker build -t sanjar883448/secore:test .
          elif [ "${GITHUB_REF_NAME}" == "prod" ]; then
            docker build -t sanjar883448/secore:prod .
          fi

      # 3️⃣ Логинимся в Docker Hub
      - name: Docker login
        run: |
          echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin

      # 4️⃣ Пушим образ в Docker Hub
      - name: Push Docker image
        run: |
          if [ "${GITHUB_REF_NAME}" == "test" ]; then
            docker push sanjar883448/secore:test
          elif [ "${GITHUB_REF_NAME}" == "prod" ]; then
            docker push sanjar883448/secore:prod
          fi

      # 5️⃣ Деплой на сервер через SSH
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            if [ "${GITHUB_REF_NAME}" == "test" ]; then
              docker stop secore_test || true
              docker rm secore_test || true
              docker pull sanjar883448/secore:test
              docker run -d --name secore_test -p 8081:80 sanjar883448/secore:test
            elif [ "${GITHUB_REF_NAME}" == "prod" ]; then
              docker stop secore_prod || true
              docker rm secore_prod || true
              docker pull sanjar883448/secore:prod
              docker run -d --name secore_prod -p 8080:80 sanjar883448/secore:prod
            fi
